$turquoise    : #14C89D;
$emerald      : #5DBC59;
$peterriver   : #7AE0FF;
$amethyst     : #6F0098;
$greensea     : #19B7A2;
$nephritis    : #89C802;
$belizehole   : #3A81FC;
$wisteria     : #8400C2;
$sunflower    : #EAD746;
$carrot       : #FF8F3A;
$alizarin     : #FF3D46;
$clouds       : #ECF0F1;
$orange       : #F39C12;
$pumpkin      : #D35400;
$pomegranate  : #C0392B;
$silver       : #BDC3C7;
$white        : #FFFFFF;
$black        : #525252;
$asbestos     : #7F8C8D;

$background   : #90b9e5;
$green        : #45B649;
$lightgreen   : #DCE35B;

$colors : (turquoise #14C89D), (emerald #5DBC59), (peterriver #7AE0FF), (amethyst #6F0098),
		  (greensea #19B7A2), (nephritis #89C802), (belizehole #3A81FC), (wisteria #8400C2),
		  (sunflower #EAD746), (carrot #FF8F3A), (alizarin #FF3D46), (clouds #ECF0F1), (orange #F39C12), 
		  (pumpkin #D35400), (pomegranate #C0392B), (silver #BDC3C7), (white #FFFFFF), (black #525252),
		  (info #7AE0FF), (success #89C802), (primary #3A81FC), (warning #EAD746), (danger #FF3D46), (default #ECF0F1), 
		  (link #ECF0F1);