# This file defines all environment variables that the application needs.
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE.
# Use ".env.local" for local overrides during development.
# Use real environment variables when deploying to production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=a544ade50c384685868c614d0bb0c6e7
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###

###> snc/redis-bundle ###
# passwords that contain special characters (@, %, :, +) must be urlencoded
REDIS_URL=redis://localhost
###< snc/redis-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_DRIVER=pdo_mysql
DATABASE_SERVER_VERSION=5.7
DATABASE_CHARSET=utf8mb4

# specify db url with format
# DATABASE_URL=mysql://{user}:{password}@{host}:{port}/{db}
# IF your database doesn't use password, you can use format:
# DATABASE_URL=mysql://{user}@{host}:{port}/{db}, eg:
#
#    DATABASE_URL=mysql://root@127.0.0.1:3306/semart
#
DATABASE_URL=mysql://root:aden@localhost:3306/semart
###< doctrine/doctrine-bundle ###

APPLICATION_TITLE='SEMART SKELETON'
APPLICATION_TITLE_LONG='KEJAWENLAB APPLICATION SKELETON'
APPLICATION_VERSION=1@dev
