/.idea/
/.DS_Store
/uploads/images
!/uploads/templates/attendance.csv
!/uploads/templates/overtime.csv
/uploads/overtimes/*
/uploads/attendances/*
/database/*
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
/phpunit.xml
###< symfony/phpunit-bridge ###
