/.idea/
/.DS_Store
/uploads/images
/uploads/attendances/*
!/uploads/attendances/template.csv
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
