@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    background-image: url('../images/anggaran.jpeg');
    background-color: #56baed;
    background-size: 100% 100%;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background: rgba(0,0,0,0.4);
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    width: 90%;
    max-width: 1200px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;

    min-height: 422px;
    background: rgba(255,249,181,1);
    background: -moz-linear-gradient(top, rgba(255,249,181,1) 0%, rgba(255,249,181,1) 51%, rgba(255,217,161,1) 100%);
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,249,181,1)), color-stop(51%, rgba(255,249,181,1)), color-stop(100%, rgba(255,217,161,1)));*/
    background: -webkit-linear-gradient(top, rgba(255,249,181,1) 0%, rgba(255,249,181,1) 51%, rgba(255,217,161,1) 100%);
    background: -o-linear-gradient(top, rgba(255,249,181,1) 0%, rgba(255,249,181,1) 51%, rgba(255,217,161,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,249,181,1) 0%, rgba(255,249,181,1) 51%, rgba(255,217,161,1) 100%);
    background: linear-gradient(to bottom, rgba(255,249,181,1) 0%, rgba(255,249,181,1) 51%, rgba(255,217,161,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9b5', endColorstr='#ffd9a1', GradientType=0 );
}

.login-block {
    background-color: #fff;
}

.agenda-block {

}

#formHeader {
    text-align: center;
    padding: 20px 0 20px 0;
    font: normal 25px/1 Arial, Helvetica, sans-serif;
    color: rgba(51,51,51,1);
    background-color: #fff;
    border-radius: 10px 10px 0 0 ;
}

#formFooter {
    background-color: #fff;
    font-size: 12px;
    padding: 20px 0 20px 0;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=password]:focus  {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

/*input[type=text]:placeholder, input[type=password]:placeholder {*/
    /*color: #cccccc;*/
/*}*/

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after{
    width: 100%;
}

*:focus {
    outline: none;
}

#icon {
    /*width:60%;*/
    height: 190px;
}

* {
    box-sizing: border-box;
}

.table {
    font-size: 14px;
    background-color: #fff;
}

.pagination-container .sr-only {
    display: none;
}

.box-footer {
    background: none;
    border-top: none;
}

.box {
    box-shadow: none;
}

.products-list .product-img {
    width: 60px;
    text-align: center;
    background: #ccc;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.products-list .product-img h1{
    margin-top: 0;
    margin-bottom: 0;
}

.products-list .product-img h4{
    margin-top: 0;
}

.products-list .product-description {
    white-space: normal;
}

@media (max-width: 750px){
    #formContent {

    }
    #formHeader {
        font: normal 14px/1 Helvetica, sans-serif;
    }
    .agenda-block {
        background: rgba(255,249,181,1);
        background: -moz-linear-gradient(top, rgba(255,249,181,1) 0%, rgba(255,249,181,1) 51%, rgba(255,217,161,1) 100%);
        /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,249,181,1)), color-stop(51%, rgba(255,249,181,1)), color-stop(100%, rgba(255,217,161,1)));*/
        background: -webkit-linear-gradient(top, rgba(255,249,181,1) 0%, rgba(255,249,181,1) 51%, rgba(255,217,161,1) 100%);
        background: -o-linear-gradient(top, rgba(255,249,181,1) 0%, rgba(255,249,181,1) 51%, rgba(255,217,161,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,249,181,1) 0%, rgba(255,249,181,1) 51%, rgba(255,217,161,1) 100%);
        background: linear-gradient(to bottom, rgba(255,249,181,1) 0%, rgba(255,249,181,1) 51%, rgba(255,217,161,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9b5', endColorstr='#ffd9a1', GradientType=0 );
    }
    .login-block h2 {
        margin: 20px 8px 10px 8px;
    }
}