body {
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@-webkit-keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background: transparentize(#B2FF5E, 0.3);
		background: -webkit-linear-gradient(to right, transparentize(#25B2D0, 0.3), transparentize(#B2FF5E, 0.3));
		background: linear-gradient(to right, transparentize(#25B2D0, 0.3), transparentize(#B2FF5E, 0.3));
		animation: hue 10s infinite linear;
	}
	&-icon {
		margin: 20px;

		img {
			display: block;
			margin: 0 auto;
			width: auto;
			height: 200px;
		}
	}
	&-link {
		display: block;
		text-align: center;

		a {
			display: block;
			color: transparentize(#FFFFFF, 0.3);
		}
	}
}

.form-control {
	border: 0;
	background-color: transparentize(#101010, 0.8);
	box-shadow: none;
	color: #FFFFFF;
	padding: 14px 20px;
	height: auto;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;

	&:hover,
	&:focus,
	&:active {
		box-shadow: none;
		background-color: transparentize(#101010, 0.7);
	}
	&::-webkit-input-placeholder {
		color: transparentize(#FFFFFF, 0.4);
	}
	&::-moz-placeholder {
		color: transparentize(#FFFFFF, 0.4);
	}
	&:-ms-input-placeholder {
		color: transparentize(#FFFFFF, 0.4);
	}
	&:-moz-placeholder {
		color: transparentize(#FFFFFF, 0.4);
	}
}
.btn {
	padding: 14px 20px;
	height: auto;
	border-radius: 8px;
	background-color: #F85A5A;
	border: 1px solid #F85A5A;
	color: #FFFFFF;
	transition: all 0.3s ease-in-out;

	&:hover,
	&:focus,
	&:active {
		background-color: #FFFFFF;
		border-color: #FFFFFF;
		color: #F85A5A;
	}
}