
@import url('https://fonts.googleapis.com/css?family=Sintony:400,700');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');


img {
display: block;
width: 66%;
border: 1px solid #888888;
/* box-shadow: 1px 1px 1px 1px #888888; */
}

body{font-family:Sintony,Helvetica,sans-serif;}
h2{font-family:Sintony,Helvetica,sans-serif;}
h1{font-family:'Sintony',Helvetica,sans-serif;}

li{
    color: red;
}