
@import url('https://fonts.googleapis.com/css?family=Sintony:400,700');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');


body{font-family:Sintony,Helvetica,sans-serif;}
h2{font-family:Sintony,Helvetica,sans-serif;}
h1{font-family:'Sintony',Helvetica,sans-serif;}


ul {
    list-style: disc;
}


.token.boolean, .token.number, .token.function {
     color: inherit
}
.number {
    background-color: inherit;
    font-size: inherit;
}
